body {
    width: 60%;
    margin: auto;
}

button {
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border-color: #cccbcb;
    color: #6d6d6d;
    font-size: medium;
    cursor: pointer;
}

li {
    list-style: none;
}

.app-header {
    text-align: center;
}

.product-rating-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-rating-display {
    display: flex;
}

.product-overall-rating{
    display: inline-block;
}

.product-overall-stars {
    display: inline-block;
    margin-left: 20px;
}

.fa-star {
    color: #b5b5b5;
    font-size: 30px;
}

.filled-in-star {
    color: #dede25;
}

.review-list-item {
    display: flex;
    align-items: center;
}

.review-rating {
    margin-left: 25px;
}

.review-text {
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-review-textarea {
    width: 100%;
    border: none;
    margin-bottom: 15px;
}

/* Using this setup for the half star ratings: https://codepen.io/anefzaoui/pen/NWPZzMa */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    /* cursor: pointer; */
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}

input:checked ~ label { color: #dede25;  }
