body {
    width: 60%;
    margin: auto;
}

button {
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border-color: #cccbcb;
    color: #6d6d6d;
    font-size: medium;
    cursor: pointer;
}

li {
    list-style: none;
}

.app-header {
    text-align: center;
}

.product-rating-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-overall-rating{
    display: inline-block;
}

.product-overall-stars {
    display: inline-block;
    margin-left: 20px;
}

.fa-star {
    color: #b5b5b5;
    font-size: 30px;
}

.filled-in-star {
    color: #dede25;
}

.review-list-item {
    display: flex;
    align-items: center;
}

.review-rating {
    margin-left: 25px;
}

.review-text {
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-review-textarea {
    width: 100%;
    border: none;
    margin-bottom: 15px;
}
